.receiptwrap{
    max-width:1075px;padding:80px 20px 120px 20px;margin:0 auto;
    .title{font-weight: normal;letter-spacing: 4px;}
    .separateline{width:96%;max-width:1000px;margin-left:auto;margin-right:auto;height:2px;background:#eee;}
    .inner{padding-top:30px;}
    .receipt-list{padding-left:20px;
        li{padding-bottom:20px;}
    }
    @media(max-width:768px){padding:50px 20px 80px 20px;}
    @media(max-width:576px){
        padding:30px 20px;
        .inner{padding-top:20px;}
        .receipt-list{
            li{padding-bottom:15px;
                &:nth-last-of-type(1){padding-bottom:0;}
            }
        }
    }
}

