.wp[data-tag="contact"]{
	.page-banner{height:350px;
		.bn-textbox{padding:70px 15px 0 15px;}
		@media(max-width:992px){
			height:300px;
		}
		@media(max-width:576px){
			height:220px;
			.bn-textbox{padding:40px 15px 0 15px;}
		}
    }
	.page-inner{position: relative;
		&:after{content:'';display:block;position:absolute;width:100%;height:260px;bottom:0;left:0;z-index:-1;background-image:linear-gradient(to bottom, #FFFFFF, #f7f7f7);}
		.guideline{background:#e5e5e5;top:-50px;
			&.active{height:145px;}
		}
		@media(max-width:992px){
			.guideline{
				&.active{height:90px;}
			}
		}
		@media(max-width:576px){
			.guideline{top:-30px;
				&.active{height:50px;}
			}
		}
	}
}

.contact-textbox{padding:70px 0 0 0;
    .tag{letter-spacing: 0.05em;text-align:center;line-height:1.5;}
    .notice{background:#f6f6f6;border-radius: 5px;padding:30px 20px 40px 20px;margin-top:45px;
        p{max-width:950px;margin:0 auto;line-height: 2;color:#5e5e5e;}
		a{color:#0990D0;
			&:hover{color:#FCB32B;}
		}
	}
	@media(max-width:576px){padding-top:40px;
		.notice{padding:20px;margin-top:25px;}
	}
}
.contact-form{padding:75px 0;
	.form-box{max-width:825px;margin:0 auto;padding-bottom:40px;
		.item{display:flex;margin-bottom:40px; align-items: flex-end;
			.tag{width:252px;display:flex; align-items: center;color:#333;height:50px;
				.must{display:inline-block;background:#0990D0;min-width:33px;border-radius: 3px;padding:0 3px;color:#fff;min-height:20px;margin-left:10px;}
			}
			.inData{width:calc(100% - 252px);display:flex;flex-grow:1;position:relative;flex-wrap:wrap;
				.check-btn{padding-right:30px;}
				.col{padding:0 10px;}
				.alertmsg{color:#f55;font-weight:400;display:block;width:100%;padding:0 10px 10px 10px;}
			}
			&.phone-item{
				.inData{
					.areacode{max-width:160px;position: relative;
						&:after{content:'';display:block;width:8px;height:1px;background:#707070;position:absolute; right:-5px;top:calc(50% - 1px);}
					}
					.telnumber{flex-grow:1;padding:0 10px 0 15px;}
				}
			}

			&.textarea{
				align-items: flex-start;
			}
		}
	}
	.script-box{border-top:1px solid #ADADAD;padding-top:55px;
		.text{max-width:940px;margin:0 auto;color:#5e5e5e;line-height: 2;
			a{color:#0990D0;
				&:hover{color:#FCB32B;}
			}
		}
	}
	.techmarks{max-width:304px;margin: 45px auto 0 auto;}
	.submit-btn{text-align:center;padding-top:50px;
		button{display:inline-block;position: relative;width:315px;height:62px;border-radius:5px;background:#B3B3B3;border:none;@include trans-set(all);cursor: pointer;
			.word{display:inline-block;width:100%;@include height-set(62px,62px);text-align:center;color:#fff;}
			.icon{position: absolute;right:20px;top:50%; transform: translateY(-50%);margin-top:2px;
				img{display:block;width:8px;}
			}
			&:hover{background:#0990D0;}
		}
	}
	@media(max-width:768px){
		.form-box{
			.item{margin-bottom:30px;
				.tag{width:180px;}
				&.phone-item{
					.inData{
						.areacode{max-width:120px;}
					}
				}
			}
		}
		.techmarks{margin-top:30px;}
		.submit-btn{padding-top:40px;}
	}
	@media(max-width:576px){padding:55px 0 60px;
		.form-box{padding-bottom:20px;
			.item{flex-wrap:wrap;margin-bottom:20px;
				.tag{width:100%;height:auto;padding-bottom:10px;}
				.inData{width:100%;margin:0 -5px;flex-wrap:wrap;
					.col{padding:0 5px;}
					.check-btn{padding-right:15px;}
					.alertmsg{position:relative;left:auto;bottom:auto;width:100%;padding:0 5px 5px 5px;
						&:before{height:22px;width:15px;}
					}
				}
				&.phone-item{
					.inData{
						.areacode{width:calc(100% / 3);max-width:calc(100% / 3);
							&:after{right:-8px;}
						}
					}
				}
			}
		}
		.script-box{padding-top:30px;}
		.techmarks{margin-top:20px;}
		.submit-btn{padding-top:20px;
			button{@include height-set(50px,50px);width:304px;
				.word{@include height-set(50px,50px);}
			}
		}

	}
	@media(max-width:475px){
		.form-box{
			.item.list-item{
				.inData{
					.check-btn{width:50%;flex-grow:1;
						&.other{width:100%;}
					}
				}
			}
		}
	}
	@media(max-width:335px){
		.techmarks{left:-7.5px;position:relative;}
		.submit-btn{
			button{max-width:304px;width:100%;}
		}
	}
}

.contact-send{padding:65px 0 130px;
	.icon-envelope{width:150px;height:150px;margin:0 auto;border-radius: 50%;background:#E9E9E9;display:flex;justify-content: center;
		align-items: center;}
	.send-textbox{padding:45px 20px 0 20px;max-width:735px;margin:0 auto;
		.text{line-height: 2;color:#777;padding-top:15px;}
	}
	.btn-style{text-align: center;padding-top:50px;
		a{display:inline-block;position: relative;width:315px;height:62px;border-radius:5px;background:#0990D0;border:none;@include trans-set(all);cursor: pointer;
			.word{display:inline-block;width:100%;@include height-set(62px,62px);text-align:center;color:#fff;}
			.icon{position: absolute;right:20px;top:50%; transform: translateY(-50%);margin-top:2px;
				img{display:block;width:8px;}
			}
			&:hover{background:#00327B;}
		}
	}
	@media(max-width:768px){
		padding:65px 0 95px;
	}
	@media(max-width:576px){
		padding:55px 0 60px;
		.icon-envelope{width:130px;height:130px;}
		.send-textbox{padding-top:30px;
			.text{padding-top:10px;}
		}
		.btn-style{padding-top:30px;
			a{width:304px;@include height-set(50px,50px);
				.word{@include height-set(50px,50px);}
			}
		}
	}
	@media(max-width:335px){
		.btn-style{
			a{max-width:304px;width:100%;}
		}
	}
}